.upload-file {
    margin: auto;
    padding: 20px;
    width: fit-content;
    background: whitesmoke;
  }
  
  .upload-file input {
    width: 200px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .upload-file button {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .upload-file-error-message {
    color: red;
    font-size: small;
  }

  .result table {
      width: 100%;
  }

  .result th {
      font-weight: bold;
  }